.dashboardContainer {
    width: 100%;
    margin: auto;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    .dashboardCard {
        background-color: #3d3d3c;
        background-image: linear-gradient(90deg, #3d3d3c, #5f5f5f);
        width: 90%;
        height: 150px;
        display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        h2 {
            color: #ffffff;
            font-size: 0.8rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .dashboardContainer {
        width: 80%;
        margin: auto;
        margin-top: 20vh;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;


        .dashboardCard {
            width: 90%;
            height: 150px;

            h2 {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .dashboardContainer {
        width: 70%;
        margin: auto;
        margin-top: 20vh;
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 20px;

        .dashboardCard {
            width: 90%;
            height: 200px;

            h2 {
                font-size: 1.6rem;
            }
        }
    }
}